<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h4 class="pb-4">予約済みルーム一覧</h4>
  
  <% if @reservations.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ルーム画像</th>
          <th scope="col">ルーム名</th>
          <th scope="col">ルーム紹介</th>
          <th scope="col">合計料金</th>
          <th scope="col">開始日</th>
          <th scope="col">終了日</th>
          <th scope="col">予約確定日時</th>
        </tr>
      </thead>
      <tbody>
        <%= @reservations.each do |reservation| %>
          <tr>
            <td>
              <% if reservation.room.room_img.attached? %>
                <%= link_to image_tag(reservation.room&.room_img, class: "w-100 h100", style: "max-width: 240px; max-height: 140px;"), reservation.room %>
              <% else %>
                <%= link_to image_tag("/room_img.jpg", class: "w-100 h100", style: "max-width: 240px; max-height: 140px;"), reservation.room %>
              <% end %>
            </td>
            <td><%= link_to reservation.room.name, reservation.room %></td>
            <td><%= reservation.room.description %></td>
            <td><%= "¥#{reservation.room.price}" %></td>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>予約している部屋はありません</p>
  <% end %>
</div>


     
           